@mixin bg{
    height: 506px;
    background-image: url("../img/ableton_main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}